<h1>Articles Tagged with <%= @tag.name %></h1>
<%= link_to "All Tags", tags_path %><br />
<br />
<ul>
	<% @tag.articles.each do |article| %>
	  <li><%= link_to article.title, article_path(article) %></li>
	<% end %>
</ul>